@media screen and (max-width: 320px) {
    .button_place_buy-nft {
        grid-area: button;
        -ms-grid-row: 9;

    -ms-grid-column: 1;
        /* display: block; */
        max-width: 288px;
        width: 288px;
        text-align: center;
      }


  }