.place__image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  width: 100%;
  max-width: 460px;
  max-height: 460px;
  grid-area: img;
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 530px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
}
