.visit-us {
  position: relative;
  background-image: url(../../images/background/__background.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-size: cover;
  margin: 0 auto;
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.visit-us:hover .visit-us__cover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .visit-us {
    max-width: 768px;
    background-size: 768px 746px;
    margin-top: 88px;
    min-height: 746px;
  }
}
@media screen and (max-width: 320px) {
  .visit-us {
    max-width: 320px;
    background-size: 320px 254px;
    margin-top: 64px;
    min-height: 254px;
  }
}
