.visit-us {
  position: relative;
  background-image: url(../../images/background/__background.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1184px;
  width: 100%;
  height: 740px;
  background-size: cover;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .visit-us {
    max-width: 768px;
    background-size: 768px 746px;
    margin-top: 88px;
    height: 746px;
  }
}
@media screen and (max-width: 320px) {
  .visit-us {
    max-width: 320px;
    background-size: 320px 254px;
    margin-top: 64px;
    height: 254px;
  }
}
