
  .lead__title {
    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
    max-width: 793px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
  }
@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 720px;
        font-size: 94px; /*
        it should be 96px,
        but at resolution lower than 430 is make vertical
        scroll bar to appear: https://i.imgur.com/gsoNfbs.png.
        I thought to use "overflow: hidden;"* | "margin-left: -1.5%;"
        all of them look good and almost imposable to see in the eyes the changes.  
    
        *While "overflow: hidden;" is not a good practice, it does appear because of 
        minor differences in size that are not really noticeable.
        */
    
        line-height: 100px;
        overflow: hidden;
      }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        /* or 110% */
      }
}

