.place__artist-name {
  margin: 0;
  padding: 0;
  /*reset default styles*/
  max-width: 456px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .place__artist-name {
    max-width: 316px;
  }
}

@media screen and (max-width: 320px) {
  .place__artist-name {
    max-width: 288px;
  }
}
