.place {
  max-width: 984px;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "title link"
    "img brif";
  row-gap: 48px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 630px) {
  .place {
    grid-template-columns: 1fr 1.3fr;
  }
}

@media screen and (max-width: 530px) {
  .place {
    margin-right: auto;
    margin-left: auto;
    max-width: 482px;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
      "title"
      "header"
      "img"
      "pp"
      "button";
    row-gap: 30px;
    justify-items: center;
    grid-template-columns: none;
  }

  .place:not(:first-child) {
    margin-top: 48px;
  }
}

/*

Marina Lukianova,reviewer:

On some resolutions, the text inside places is contained in a narrow column,
 with 3-4 words in a row like here: http://joxi.ru/KAx1040uvX9xgr.
 It's not very comfortable to read such texts.
 This should be corrected. One of the possible ways is to increase a breakpoint
 a little to make one-column "place" design to take place earlier.
 The resolution on the screenshot is just an example.
 It's necessary to inspect your page for different screen resolutions,
and fix the similar issues everywhere where necessary. 

 @media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
      "title"
      "header"
      "img"
      "pp"
      "button";
    row-gap: 30px;
    justify-items: center;
  }
}
*/
