.logo__text {
    margin: 0 auto;
    padding: 0;
    /*reset default styles*/
    margin-top: 20px;
    width: 271px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
  }


@media screen and (max-width: 320px) {
    .logo__text {
        /*The font size is not listed. font size "14" 
        is the largest number that does not break the text into 2 lines*/
        font-size: 14px;
        width: 200px;
      }
}

