.place__image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  max-width: 100%;
  width: 460px;
  height: 460px;
  grid-area: img;
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img;
    width: 288px;
    height: 216px;
  }
}
