.button {
  padding: 13px 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  max-width: 250px;
  background-color: #0278fe;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
}

.button:hover {
  background: #0063d2;
}
