.button {
  padding: 13px 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  max-width: 248px;

  background-color: #0278fe;
  border-radius: 4px;
}

.button:hover {
  background: #0063d2;
}
